<html lang="ja" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
	<div layout:fragment="base-content">
		<!-- 画面名 -->
		<section class="module bg-dark-30 home-sub-section" data-background="../../static/assets/images/maintenance_menu.png" th:attr="data-background=@{/assets/images/maintenance_menu.png}">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<div layout:fragment="title">
							Fake content
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- 検索条件 -->
		<div class="container">
			<section class="module-extra-small">
				<div layout:fragment="search-conditions">
					Fake content
				</div>
			</section>
		</div>

		<!-- 検索結果 -->
		<div class="main">
			<section class="module-extra-small">
				<div class="container">
					<hr class="divider-w pt-20" />
					<div class="row  table-responsive">
						<div th:if="${itemsSize > 0}" class="text-right">検索結果：<label th:text="${itemsSize}"></label>件</div>
							<div layout:fragment="search-result">
								Fake content
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</html>
