<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
       <meta charset="UTF-8"/>
       <title>Insert title here</title>
</head>
<body>
	<select id="genreLgCd" name="genreLgCd" class="form-control">
		<option th:fragment="genreLgSelectBody" th:selected="*{genreLgCd == null}" />
		<option th:fragment="genreLgSelectBody"
				th:each="item : ${genreLgSelectItems}"
				th:value="${item.genreLgCd}"
				th:selected="*{genreLgCd} == ${item.genreLgCd}"
				th:text="${item.genreLgCd + '：' + item.genreLgNm}"/>
	</select>

	<select id="genreMdCd" name="genreMdCd" class="form-control">
		<option th:fragment="genreMdSelectBody" th:selected="*{genreMdCd == null}" />
		<option th:fragment="genreMdSelectBody"
				th:each="item : ${genreMdSelectItems}"
				th:value="${item.genreMdCd}"
				th:selected="*{genreMdCd} == ${item.genreMdCd}"
				th:text="${item.genreMdCd + '：' + item.genreMdNm}"/>
	</select>

 	<select id="genreSmCd" name="genreSmCd" class="form-control">
		<option th:fragment="genreSmSelectBody" th:selected="*{genreSmCd == null}" />
		<option th:fragment="genreSmSelectBody"
				th:each="item : ${genreSmSelectItems}"
				th:value="${item.genreSmCd}"
				th:selected="*{genreSmCd} == ${item.genreSmCd}"
				th:text="${item.genreSmCd + '：' + item.genreSmNm}"/>
	</select>
</body>
</html>
