<!DOCTYPE html>
<html lang="ja" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="common/layout_shop">

	<div layout:fragment="content">
		<section class="module-medium">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<h1 class="module-title font-alt"><i class="fa fa-fw">&#xF07A;</i>カート</h1>
					</div>
				</div>
				<hr class="divider-w pt-20">

				<section class="module">
					<div class="container">
						<div class="row">
							<div class="col-xs-4"><img src="assets/images/section-1.jpg" alt="Title of Image"/></div>
							<div class="col-xs-8">
								<div class="work-details">
									<h4 class="work-details-title font-alt">商品名</h4>
									<h6 class="work-details-title font-alt">サブ</h6>

									<ul>
										<li><strong>価格: </strong><span class="font-serif pl-10"><i class="fa fa-fw">&#xf157;</i>1,000</span></li>
										<li><strong>数量: </strong><span class="font-serif pl-10"><input type="number" class="" /></span></li>
										<li class="pt-20"><a href="#" title="Remove"><i class="fa fa-fw">&#xf014;</i><strong>削除</strong></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</section>

				<div class="row mt-70">
					<div class="col-sm-5 col-sm-offset-7">
						<div class="shop-Cart-totalbox">
							<table class="table table-striped table-border checkout-table">
								<tbody>
									<tr>
										<th>小計 :</th>
										<td>£40.00</td>
									</tr>
									<tr>
										<th>消費税 :</th>
										<td>£2.00</td>
									</tr>
									<tr class="shop-Cart-totalprice">
										<th>合計 :</th>
										<td>£42.00</td>
									</tr>
								</tbody>
							</table>
							<button class="btn btn-lg btn-block btn-round btn-d" type="submit">レジへ進む</button>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div layout:fragment="js">
	</div>
</html>
